.myblue{
    background-color: rgb(5, 22, 48);
}
.mylight-blue{
    background-color: rgb(214, 243, 251
    );
}
.mylight{
    background-color: rgb(248, 249, 250);
}
.mywhite{
    color: white;
}
.mygrey{
    color: rgb(130, 139, 152);
}